/* цвет основного текста  #212121; */
/* вторичный цвет текста  #757575; */

 /*  font-family: 'Raleway', sans-serif;

 font-family: 'Roboto',sans-serif; */
 body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    background-color: #FFFFFF;
    height: 100%;
    font-size: 14px;
    letter-spacing: 0.03em;
 }
 
 a {
     text-decoration: none;
 }
 ul {
     list-style: none;
 }

 /* header */

 header {
        background: #ffffff;
 }
.logo-head{
   font-family: 'Raleway', sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 26px;
   line-height: 31px;
   color: #000000;
}
.logo-accent {
    color: #2196F3;
}

.nav-header a{
   font-style: normal;
   font-weight: 500;
   line-height: 16px;
   letter-spacing: 0.02em;
   color: #212121;
}

.nav-header a:hover,
.nav-header a:focus  {
    color: #2196F3;
}


.studio {
}
.portfolio {
   
}
.contacts {
   
}
.head-contacts a{
   font-style: normal;
   font-weight: 500;
   line-height: 16px;
   letter-spacing: 0.02em;
   color: #757575;
}
.head-contacts a:hover,
.head-contacts a:focus {
    color: #2196F3;
}

.mail-head {
   
}
.tel-head {
   
}


/* main */


/* hero */
.hero {
   
        background: #2F303A;
}     
.hero-txt {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    
}

.hero-button {
  
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
}

.hero-button-txt {
    
        width: 136px;
        height: 30px;
        left: 732px;
        top: 440px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
       
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #ffffff;
}

/* секция 2 */
.text-section {
   
}






 .text-section h3 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        text-transform: uppercase;
        color: #212121;
 }

 .text-section-title1 {
  
 }
 .text-section-title2 {
   
 }
 .text-section-title3 {
   
 }
 .text-section-title4 {
  
 }

.text-section p {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        color: #757575;
}

.text-section-txt1 {

}
.text-section-txt2 {

}
.text-section-txt3 {

}
.text-section-txt4 {

}


/* секция 3 */
.work-section-title {
   
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        
        color: #212121;
}
.work-section-pic1{

    background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
    mix-blend-mode: normal;
}
.work-section-pic2 {

    background: url(web-ui-designers-are-developing-application-smartphones-team-creators-is-working-interface-mobile-phones_8119-2713.jpg);
}
.work-section-pic3{

    background: url(creative-artist-web-design-with-working-colour-selection-graphic-tablet_35674-1119.jpg);
}

/* наша команда */
.company {
   
    
        background: #F5F4FA;
}
.company-title {
    
        width: 264px;
        height: 42px;
        left: 668px;
        top: 1543px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        color: #212121;
       padding-left: 668px;
}
.company h3 {
font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #212121;
}

.name4 {

}
.company p {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #757575;
}

/* footer */

footer {
 
    background-color: #2F303A;
}
.logo-foot {
   
        width: 145px;
        height: 31px;
        left: 215px;
        top: 2157px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        color: #ffffff;
}
.location {
   
        width: 231px;
        height: 21px;
        left: 215px;
        top: 2208px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        color: #FFFFFF;
}
.location:hover,
.location:focus {
color: #2196F3;
}
 
.mail-foot {
    
     width: 231px;
     height: 21px;
     left: 215px;
     top: 2238px;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     line-height: 24px;
     color:rgba(255, 255, 255, 0.6);
}
.mail-foot:hover,
.mail-foot:focus {
    color: #2196F3;
}

.tel-foot {
   
        width: 231px;
        height: 21px;
        left: 215px;
        top: 2268px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        color:  rgba(255, 255, 255, 0.6);
}
.tel-foot:hover,
.tel-foot:focus {
    color: #2196F3;
}

